
@font-face {
    font-family: antique;
    src: url(../fonts/monta.woff);
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.no-color {
	background-color: transparent;
}

.grey {
	background-color: rgba(207,216,220, 1)!important;
	color: rgba(33, 33, 33, 1)!important;
}

.grey-dark {
	background-color: rgba(96,125,139, 1)!important;
	border-color: rgba(96,125,139, 1)!important;
	color: white;
}

.grey-light {
	background-color: rgba(207,216,220, .5);
	color: rgba(33, 33, 33, 1);
}

.grey-light:hover {
	background-color: rgba(207,216,220, .5);
	color: rgba(33, 33, 33, 1);
}

.red {
	background-color: rgba(211, 47, 47, 1)!important;
	color: white;
}

.red-dark {
	background-color: rgba(211, 47, 47, 1);
	color: white;
}

.red-light {
	background-color: rgba(211, 47, 47, .6);
	color: white;
}
.blue {
	background-color: rgba(33, 150, 243, 1)!important;
	color: white;
}

.blue-dark {
	background-color: rgba(25, 118, 210, 1);
	color: rgba(187, 222, 251, 1);
}

.blue-light {
	background-color: rgba(187, 222, 251, 1);
	color: rgba(34, 34, 34, 1);
}

.blue-transparent {
	background-color: rgba(187, 222, 251, .3);
	color: rgb(62,70,76);
	border-color: rgba(25, 118, 210, 1);
}

.lime {
	background-color: rgba(205, 220, 57, 1)!important;
	color: rgba(34, 34, 34, 1);
}

.lime-dark {
	background-color: rgba(175, 180, 43, 1);
	color: rgba(240, 244, 195, 1);
}

.lime-light	{
	background-color: rgba(240, 244, 195, 1);
	color: rgba(34, 34, 34, 1);
}

.lime-transparent, .success {
	background-color: rgba(139,195,74, .1);
	color: rgb(62,70,76);
	border-color: rgb(139,195,74);
}

.green-dark {
	background-color: rgb(126,184,61);
	color: white;
}

.green {
	background-image: -webkit-linear-gradient(top, rgb(139, 195, 74), rgb(104, 159, 56))!important;
	color: white;
}

.chip.alert {
	width: 100%;
	border-radius: 2px;
	font-size: 1.2rem;
	font-family: 'Roboto';
	font-weight: 500;
}

.panel {
	border-width: 1px;
	border-style: solid;
	padding: 5px;
}

.panel p {
	font-family: 'Roboto';
	font-size: 1rem;
	font-weight: 400;
}

.btn {
	padding: 0 1rem;
}

.btn-hov {
	display: inline-block;
}

.btn-hov .btn {
	transition: 0.3s;
}

.btn-hov .btn {
	opacity: .8;
	font-weight: 100;
	font-size: 1.2rem;
}

.btn-hov .btn:hover {
	opacity: 1;
}

.btn-hov i {
	line-height: inherit; margin-right: 5px; font-size: 1.3em;
}

.font_button {
	text-transform: none;
	font-weight: 400;
	font-size: 1rem;
	text-transform: none;
}

.m-top1 {
	margin-top: 10vh;
}

.m-top2 {
	margin-top: 20vh;
}

.m-top25 {
	margin-top: 25vh;
}

.m-top3 {
	margin-top: 30vh;
}

.mr-top1 {
	margin-top: 1rem;
}

.mr-top2 {
	margin-top: 2rem;
}

.mr-top3 {
	margin-top: 3rem;
}

.mr-right1 {
	margin-right: 1rem;
}

/*Not found	*/
.error {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	color: #B0BEC5;
	display: table;
	font-weight: 100;
	font-family: 'Lato';
}

.error-container {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.error-content {
	text-align: center;
	display: inline-block;
}

.error-title {
	font-size: 96px;
	margin-bottom: 0px;
}

.error p {
	color: red;
	font-weight: 700;
}

/*Login*/
#login .container {
	height: 100vh;
}

#login .container .row {
	height: 100%;
	margin-bottom: 0;
}

#login .row .col.l5 {
    margin-right: auto;
}

#login .icon-login {
	text-align: center;
}

.icon-login i {
	font-size: 10rem;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset;
    -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px white inset;
    -webkit-text-fill-color: #333;
}

#button-login {
	-webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.toast {
	background-color: white;
	/*color: red;*/
	font-weight: 500;
}

.logo img {
	padding-top: 10%;
	padding-left: 10%;
	padding-right: 10%;
	width: 100%;
}

nav {
	position: fixed;
	z-index: 9;
}

nav .nav-wrapper {
	padding-left: 15px;
	padding-right: 30px;
}

/*.hidden-nav {
	top: -100%;
	-webkit-transition: top 1s;
  -moz-transition: top 1s;
  -o-transition: top 1s;
  transition: top 1s;
}

.show-nav {
	position: fixed;
	top: 0;
}*/

#mobile-demo li:hover {
	background: rgba(0,0,0,.07);
}

#panel-akun {
	position: absolute;
	width: 1000px;
	display: none;
}

.coklat {
	color: #5D4037;
}

.side-nav a {
	padding: 0;
}

nav ul a:hover {
	background-color: rgba(255,255,255,0);
}

.side-nav .collapsible-header {
    margin: 0;
}

.collapsible-body li {
	padding-left: 15%;
}


.judul_utama {
	display: block;
    position: relative;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.02em;
    margin-bottom: 4px;
    box-sizing: border-box;
}

.judul_kedua {
	display: block;
    position: relative;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 15px;
    line-height: 1;
    letter-spacing: 0.02em;
    font-weight: 300;
    opacity: .5;
    box-sizing: border-box;
}

li a {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.bayangan_2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.disable_select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
  pointer-events: none;
}

label[data-error]:after {
    white-space: nowrap;
}

.icon-list-oprec {
    color: white;
    background: #673AB7;
    font-size: 40px;
    margin-right: 20px;
    vertical-align: middle;
    padding: 10px;
}

label[data-error]:after {
	margin-top: -10px;
}

.hover-menu a:hover:not(.active){
	background-color: rgba(255, 255, 255, .1);
}

.active[data-warna=utama] {
	background-color: #3e464c !important;
}

.active[data-warna=kedua] {
	background-color: #8BC34A !important;
}

.active[data-warna=ketiga] {
	background-color: #7EB83D !important;
}

.active[data-warna=keempat] {
	background-color: #689F38 !important;
}

.wadah {
	/*width: 100%;*/
	/*margin: 0 30px;*/
	padding-top: 64px;
	/*height: 1000px;*/
}

.collapsible {
	margin: 0;
}

li .collapsible-header {
	transition: background-color .3s;
}

.nama-menu .collapsible-header {
	cursor: default;
}

li:not(.nama-menu) .collapsible-header:not(.selected):hover {
	background-color: rgba(0, 0, 0, .05);
}

.collapsible-header.active {
	/*border-left: solid 3px #7EB83D;*/
	background-color: rgba(0, 0, 0, .04);
	border-color: #7EB83D;
	border-width: 2px;
}



.collapsible-header.active > a i.right {
	color: #7EB83D;
}

.collapsible-header.active > a i.change_icon:before {
	transition: .25s;
	content: 'remove_circle';
	opacity: 1;
}

.collapsible-header i.right {
	font-size: 20px;
}

.detail {
	right: 0;
	visibility: hidden;
	color: #7EB83D;
	transition: visibility .1s;
}

.collapsible-header:hover > a .detail {
	visibility: visible;
}

.collection a.collection-item:not(.active):hover {
    background-color: rgba(0, 0, 0, .04);
    color: #689F38;
}

.collapsible-header.selected > a .detail {
	visibility: hidden;
}

.collection a.collection-item {
    display: block;
    padding: 10px;
    padding-right:  15px;
    transition: .25s;
    color: #3e464c;
    font-size: 14px;
}

a {
	color: #3e464c;
}

.change_icon::before {
	transition: .25s;
	content: 'add_circle';
	opacity: .5;
}

.status-content {
	background-color: #0288D1;
	display: block;
    min-height: 3rem;
    line-height: 2.9rem;
    padding: 0 1rem;
    padding-right: 5px;
    border-bottom: 0px solid rgba(0, 0, 0, .1);
    margin-bottom: 0px;
}

.selected a {
	color: #689F38;
}

.progress {
	display: none;
	visibility: hidden;
}

.head-form {
	text-align: center; 
	font-size: 25px; 
	margin: 0; 
	text-transform: uppercase;
	/*text-decoration: underline;*/
	font-weight: 500;
	color: rgba(25, 118, 210, 1);
}

#content {
	background-color: white;
	border-bottom: 20px solid #0288D1;
	margin-bottom: -20px;
}

.form-blue {
	background-color: rgba(2, 136, 209, .05);
	padding: 20px;
	border: 1px dashed #0288D1;
	margin: 5px;
	/*border-left: 3px solid #1976D2;*/
}

.form-blue input{
	font-size: 1.3rem;
}

.form-blue .input-field .prefix {
	font-size: 2.4rem;
}

.form-blue .input-field .prefix.active {
	color: #0288D1;
}

.form-blue input + label.active, .form-blue textarea + label.active {
	color: #0288D1;
}

.form-blue input:disabled + label{
	color: #0288D1;
}

.form-blue input:focus:not([readonly]), .form-blue textarea:focus:not([readonly]) {
	border-bottom: 1px solid #0288D1;
	box-shadow: 0 1px 0 0 #0288D1;
}

.form-blue input.valid {
	border-bottom: 1px solid #0288D1;
	box-shadow: 0 1px 0 0 #0288D1;
}

.form-blue input:disabled {
	color: #3e464c;
	font-weight: 500;
}

.form-blue textarea:disabled {
    color: #3e464c;
    font-weight: 400;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #0288D1;
    opacity:  .3;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #0288D1;
   opacity:  .3;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #0288D1;
   opacity:  .3;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #0288D1;
   opacity:  .3;
}

.select2-container {

    margin-left: 3rem;
}

.select2-container--open .select2-dropdown {
    left: -3rem;
}

.frame-dash {
	padding: 0 2rem;
}

.header-content {
	margin-bottom: 1rem;
}

.header-content h5 {
	text-transform: uppercase;
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #0288D1;
}

input:not([type]):disabled, input:not([type])[readonly="readonly"], input[type=text]:disabled, input[type=text][readonly="readonly"], input[type=password]:disabled, input[type=password][readonly="readonly"], input[type=email]:disabled, input[type=email][readonly="readonly"], input[type=url]:disabled, input[type=url][readonly="readonly"], input[type=time]:disabled, input[type=time][readonly="readonly"], input[type=date]:disabled, input[type=date][readonly="readonly"], input[type=datetime-local]:disabled, input[type=datetime-local][readonly="readonly"], input[type=tel]:disabled, input[type=tel][readonly="readonly"], input[type=number]:disabled, input[type=number][readonly="readonly"], input[type=search]:disabled, input[type=search][readonly="readonly"], textarea.materialize-textarea:disabled, textarea.materialize-textarea[readonly="readonly"] {
    color: #364150;
}

.jFiler-items {
	padding-top: 4rem;
}

.jFiler-items-default .jFiler-item {
	margin-left: 3rem;
    position: relative;
    padding: 16px;
    margin-bottom: 16px;
    background: #B3E5FC;
	border: 1px solid;
    color: #4d4d4c;
}

.select-wrapper input.select-dropdown {
    margin-left: 3rem;
	width: calc(100% - 3rem);
}

.dropdown-content.select-dropdown {
	margin-left: 3rem;
	width: calc(100% - 3rem);
}

.jFiler-items-default .jFiler-item-assets {
	display: none;
}

.jFiler-items-default .jFiler-item {
	margin-bottom: 5px;
}

.ui.input input {
	width: auto;
	height: auto;
}

.ui.table {
    font-size: 1.2rem;
}

.dataTables_length {
	display: none;
}

.dataTables_filter label input[type=search] {
    border: 1px solid rgba(25, 118, 210, .7);
    padding: 5px;
    height: auto;
    color: rgba(25, 118, 210, 1);
    width: 50%;
    margin-left: 1rem;
    border-radius: 2px;
}

.dataTables_filter label input[type=search]:focus {
	border: 1px solid rgba(25, 118, 210, 1);
	box-shadow: 0 1px 0 0 rgba(25, 118, 210, 1);
}

*, *:before, *:after {
    box-sizing: inherit;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 11px;
    display: block;
    opacity: 0.3;
    font-size: 1.3em;
}

table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:after {
    opacity: 1;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
    right: 1em;
    content: "\2191";
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    right: 0.5em;
    content: "\2193";
}

td, th {
	position: relative;
}

table {
	font-family: 'Roboto';
}

table > thead > tr {
	border-bottom: 1.8px solid rgba(34,34,34, .1);
}

table > thead > tr > th {
    border-radius: 0px;
	font-weight: 500;
}

table > tbody > tr > td {
    border-radius: 0px;
    font-size: 1rem;
}

table > tfoot > tr > th > .dataTables_filter label input[type=search] {
	margin: 0;
}

.dataTables_info {
	display: none;
}

a.paginate_button {
    background-color: #ddd;
}

a.paginate_button, .paging_full_numbers a.paginate_active {
    border: 1px solid #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 2px 5px;
    margin: 0 3px;
    cursor: pointer;
    color: #333 !important; 
}

a.paginate_button.current {
    background-color: #99B3FF;
}

.modal.bottom-sheet {
	max-height: 100%;
}

.cke.cke_reset.cke_chrome {
	margin-left: 3rem;
	margin-top: 1rem;
}

.cke_editable.cke_editable_themed.cke_contents_ltr {
	font-size: 1.5rem;
}

.dropdown-content {
	max-height: 200px;
}

.collapsible-header.active.click {
	background-color:  rgba(139, 195, 74, .2);
}

.input-field label.active {
	font-size: 1rem;
}

.input-field .prefix ~ textarea {
	padding-top: 0;
	margin-top: .8rem;
}